header {
    color: $very-dark-cyan;
    text-align: center;
    margin: $xl-size;
}

.logo {
    margin: $s-size;
    letter-spacing: $s-size;
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
}

@media only screen and (min-width: 1100px) {
    header {
        margin-top: $mega-size;
    }
}