// colors
$strong-cyan: hsl(172, 67%, 45%);
$grayish-cyan: hsl(184, 14%, 56%);
$darker-grayish-cyan: hsl(184, 14%, 56%);
$very-dark-cyan: hsl(183, 100%, 15%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$lighter-grayish-cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

//font-size
$font-form-input: 24px;
$font-size-small: 15px;
$font-size-medium: 20px; 
$font-size-large: 25px;
$font-size-xlarge: 30px;

//font-weights
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 40px;
$mega-size: 100px;

// breakpoints:
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;

